# Auto detect text files and perform LF normalization
* text=auto
day_1/target/** linguist-vendored
day_2/target/** linguist-vendored
day_3/target/** linguist-vendored
day_4/target/** linguist-vendored
day_5/target/** linguist-vendored
day_6/target/** linguist-vendored
day_7/target/** linguist-vendored
day_8/target/** linguist-vendored
day_9/target/** linguist-vendored
day_10/target/** linguist-vendored
day_11/target/** linguist-vendored
day_12/target/** linguist-vendored
day_13/target/** linguist-vendored
day_14/target/** linguist-vendored
day_1/Cargo.toml -linguist-vendored
day_2/Cargo.toml -linguist-vendored
day_3/Cargo.toml -linguist-vendored
day_4/Cargo.toml -linguist-vendored
day_5/Cargo.toml -linguist-vendored
day_6/Cargo.toml -linguist-vendored
day_7/Cargo.toml -linguist-vendored
day_8/Cargo.toml -linguist-vendored
day_9/Cargo.toml -linguist-vendored
day_10/Cargo.toml -linguist-vendored
